@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/kreon-v37-latin-300.woff2') format('woff2')
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/kreon-v37-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/kreon-v37-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/kreon-v37-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/kreon-v37-latin-700.woff2') format('woff2');
}




body {
  font-family: 'Kreon';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Kreon';
  font-weight: 600;
}


body {
  color: black;
  margin: 0px;
  background-color: var(--background);
  --text: #091111;
  --background: #def2f2;;
  --primary: #87c2c5;
  --secondary: #b7d4da;
  --accent: #c2d1e4;
}
.dark {
  color: white;
  --text: #eef6f6;
  --background: #0a1111;
  --primary: #438386;
  --secondary: #245352;
  --accent: #1a293d;
}


main {
  margin-left: 10pt;
  margin-right: 10pt;
}

header {
  margin-bottom: 1rem;
  background-color: var(--primary);
  width: 100%;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.post-content a {
  color: #0000EE
}
.dark .post-content a {
  color: lightskyblue
}
#navbar > a, #terms-div > a{
  border: black 2px solid;
}
.dark #navbar > a{
  border: 2px solid white;
  border-bottom: none;
}
.dark #terms-div > a{
  border: 2px solid white;
}


/*Tags below post*/
#terms-div {
  display: flex;
}
#terms-div > * {
  margin-right: 10pt;
}
#terms-div > a {
  border-radius: 5px;
  padding-left: 10pt;
  padding-right: 10pt;
}
#terms-div > a:hover {
  background-color: var(--accent);
}

#navbar {
  margin-left: 10pt;
  display: flex;
}
#navbar > * {
  margin-right: 10pt;
}

#navbar > a {
  border-bottom: none;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10pt;
  padding-right: 10pt;
  background-color: var(--background);
}
#navbar > a:hover {
  background-color: var(--accent);;
}

#header-div{
  margin-left: 10pt;
  display: flex;
  align-items: center;
}
#header-icon{
  width: 50px;
  height: 50px;
  margin-right: 10pt;
}

.not-selectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


.posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 20pt;
  justify-items: center;
}

@media screen and (max-width: 600px) {
  .posts-list {
    grid-template-columns: 1fr 1fr;
  }
}

.post-div {
  width: 100%;
  max-width: calc(100% - 20pt);
  border: 2px solid var(--primary);
  box-shadow: 5px 5px 5px var(--primary);
  background-color: var(--secondary);
  padding: 10pt;
  margin-bottom: 30pt;
  display: flex;
  flex-direction: column;
  transition: ease .1s;
}
.post-div:hover {
  transform: scale(102%);
}
.post-div > h2 {
  margin: 0px;
}

.post-div > img {
  max-height:150px;
  max-width: 100%;
  width: auto;
  align-self: flex-start;
  margin-bottom: 5pt;
}

.post-content img {
  max-height: 200pt;
  max-width: 100%;
}


.switch {
  margin-left: 10pt;
  position: relative;
  border: 2px solid var(--primary);
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: .2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 5px;
  background-color: var(--primary);
  transition: .2s;
  border-radius: 20%;
}
input:checked + .slider {
  background-color: aliceblue;
}
input:checked + .slider:before {
  transform: translateX(28px);
}